[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "==7.6.0"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[packages]
requests = "*"

[requires]
python_version = "3.9"
